<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Messenger</title>
</head>
<body>
    <div>
        <h1>Back to login page</h1>
        <a href="~/Home/Login" target="_top">Login page</a>
    </div>
</body>
</html>